body {
    background-image:url("bulb.jpg");
}
* {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: default;
  text-decoration:none;
}

#title{
    align-content:center;
    color:whitesmoke;
}
.snippet{
        padding-top:10px;
        margin-top:50px;
    }
.mydiv{
        border:1px #000 solid;
    }
.ta{
        width:700px;
        height:100px;
        border:2px solid lightgray;
        padding:4px;
    }